.btn{
    &__menu{
        margin-bottom: 4rem;

        &__list{
            border: 1px solid #343a40;
            color: #dee2e6;
        }
    }
}

.btn-outline-secondary{
&:active{
    background-color: #218838;;
}
&:hover{
    background-color: #218838;;
}
&:focus {
    box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}

}